.logo {
    width: 50px;
}

.wildtheme {

    background-color: #f4b02d;
}

.btnreservation {

    background-color: #9e9e9e;
    color: white;

}

.whitebtn {
    color: white;
}

.carousel-page
{
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}